body{
margin:0;
font-family:Poppins;
background:#f4f6f8;
}

/* CONTAINER */

.list-container{
max-width:700px;
margin:auto;
background:white;
padding:30px;
border-radius:20px;
margin-top:40px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

/* HEADER */

.list-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.logo{
font-size:22px;
font-weight:600;
color:#1b8f5a;
}

/* TITLE */

.page-title h1{
margin:0;
}

.page-title p{
color:gray;
margin-bottom:30px;
}

/* FORM */

.crop-form{
display:flex;
flex-direction:column;
gap:15px;
}

.crop-form input,
.crop-form select{
padding:12px;
border-radius:8px;
border:1px solid #ddd;
font-size:14px;
}

/* UPLOAD */

.upload-box{
border:2px dashed #ddd;
border-radius:12px;
padding:30px;
text-align:center;
cursor:pointer;
background:#f9fafb;
}

.upload-box input{
margin-bottom:10px;
}

/* BUTTON */

.submit-btn{
margin-top:10px;
padding:14px;
background:#1b8f5a;
color:white;
border:none;
border-radius:30px;
font-size:16px;
cursor:pointer;
}